@import "~bootstrap/scss/bootstrap";

.hidden {
    display: none !important;
}

.navbar {
    padding: 0 2rem;
    color: #fff;

    .left, .right {
        width: 10%;
        
        @media screen and (max-width: 768px) {
            width: 20%;
        }
    }

    .right {
        text-align: right;
    }
}

#players {
    width: 20em;
    display: flex;
    justify-content: space-between;

    .player {
        text-align: center;
        padding: 0.25rem;
        border-radius: 0.25rem;
        border: 1px solid transparent;

        &.active {
            border-color: $secondary;
        }

        .name {
            font-weight: bold;
        }
    }
}

.game-container {
    max-width: 96vw;
}

#start-menu {
    margin-top: 2em;
}

.card.game-overview {
    width: 33%;

    div.card-img-top {
        height: 13em;
        text-align: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

#goban {
    margin-top: 0.1em;

    svg {
        margin: auto;
    }
}

g.board {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/46/Cerberiopsis_candelabra_MHNT.BOT.2010.6.59.jpg");
    opacity: 0.8;
    transition: transform 1s;

    &.main {
        opacity: 1;
    }

    &.scaled {
        transform: translate(0, 0) scale(3);

        g.lines line {
            stroke-width: 0.5;
        }
    }
}

svg.nine-boards {
    g.lines line {
        stroke-width: 0.5;
    }
}

g.lines line {
    stroke:black;
    shape-rendering: geometricprecision;

    @media screen and (max-width: 768px) {
        stroke-width: 0.5;
    }
}

g.dots circle.dot {
    fill: black;
    stroke: black;
    shape-rendering: crispEdges;
}

.overlay-int {
    stroke: none;
    fill: transparent;
    z-index: 10;
}

.highlight {
    pointer-events: none;
    fill-opacity: 0.5;
}

.stone.empty {
    display: none;
}

.stone {
    @media screen and (max-width: 768px) {
        stroke-width: 0.5;
    }
}

.stone.black, .territory-marker.black {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.stone.white, .territory-marker.white {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}

.territory.black .territory-marker {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.territory.white .territory-marker {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}