g.lines line {
    stroke:black;
    shape-rendering: crispEdges;
}

g.dots circle.dot {
    fill: black;
    stroke: black;
    shape-rendering: crispEdges;
}

.overlay-int {
    stroke: none;
    fill: transparent;
    z-index: 10;
}

.highlight {
    pointer-events: none;
    fill-opacity: 0.5;
}

.stone.empty {
    display: none;
}

.stone.black, .territory-marker.black {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.stone.white, .territory-marker.white {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}

.territory.black .territory-marker {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.territory.white .territory-marker {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}