g.lines line {
    stroke:black;
    shape-rendering: crispEdges;
}

.overlay-int {
    stroke: none;
    fill: transparent;
    z-index: 10;
}

.highlight {
    pointer-events: none;
    fill-opacity: 0.5;
}

.stone.empty {
    display: none;
}

.stone.black {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.stone.white {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}