@import "~bootstrap/scss/bootstrap";

.hidden {
    display: none !important;
}

.navbar {
    padding: 0.5rem 2rem;
    color: #fff;

    .left, .right {
        width: 10%;
    }

    .right {
        text-align: right;
    }
}

#players {
    width: 20em;
    display: flex;
    justify-content: space-between;

    .player {
        text-align: center;

        .name {
            font-weight: bold;
        }
    }
}

.game-container {
    max-width: 96vw;
}

#start-menu {
    margin-top: 2em;
}

.card.game-overview {
    width: 33%;

    div.card-img-top {
        height: 13em;
        text-align: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

#goban {
    margin-top: 1em;

    svg {
        margin: auto;
    }
}

g.board {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/46/Cerberiopsis_candelabra_MHNT.BOT.2010.6.59.jpg");
}

g.lines line {
    stroke:black;
    shape-rendering: crispEdges;
}

g.dots circle.dot {
    fill: black;
    stroke: black;
    shape-rendering: crispEdges;
}

.overlay-int {
    stroke: none;
    fill: transparent;
    z-index: 10;
}

.highlight {
    pointer-events: none;
    fill-opacity: 0.5;
}

.stone.empty {
    display: none;
}

.stone.black, .territory-marker.black {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.stone.white, .territory-marker.white {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}

.territory.black .territory-marker {
    stroke: black;
    stroke-opacity: 0.1;
    fill: black;
}

.territory.white .territory-marker {
    stroke: black;
    stroke-opacity: 0.1;
    fill: seashell;
}